[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MonoPhy"]
	path = MonoPhy
	url = https://github.com/oschwery/monophy
	shallow = true
	registered = true
